/* animation */
.animation01 {
    animation-delay: 0s !important;
}
.animation02 {
    animation-delay: 0.2s !important;
}
.animation03 {
    animation-delay: 0.4s !important;
}
.animation04 {
    animation-delay: 0.6s !important;
}
.animation05 {
    animation-delay: 0.8s !important;
}
.animation06 {
    animation-delay: 1s !important;
}
.animation07 {
    animation-delay: 1.2s !important;
}
.animation08 {
    animation-delay: 1.4s !important;
}
.animation09 {
    animation-delay: 1.6s !important;
}
.animation10 {
    animation-delay: 1.8s !important;
}
.animation11 {
    animation-delay: 2s !important;
}
.animation12 {
    animation-delay: 2.2s !important;
}
.animation13 {
    animation-delay: 2.4s !important;
}
.animation14 {
    animation-delay: 2.6s !important;
}
.animation14 {
    animation-delay: 2.8s !important;
}
.animation14 {
    animation-delay: 3s !important;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeEffect {
    from {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.fade.fade_in {
    -webkit-animation: fadeEffect 0.5s 0s cubic-bezier(0.65, 0, 0.35, 1)
        forwards;
    animation: fadeEffect 0.5s 0s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

.flex_slider_opacity_none {
    opacity: 0 !important;
    transition-duration: 0s !important;
}

/* scroll */
.scroll_down_icon {
    color: #fff;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: scroll_down_icon_move 1.5s linear infinite;
    cursor: pointer;
}
.scroll_down_text {
    margin-top: 5px;
}
.scroll_down_icon_mouse {
    margin: 0 auto;
    display: block;
    border-radius: 50px;
    border: 2px solid #fff;
    height: 50px;
    width: 25px;
    position: relative;
}
.scroll_down_icon_mouse_move {
    position: absolute;
    background-color: #fff;
    height: 8px;
    width: 4px;
    border-radius: 100px;
    left: 50%;
    transform: translateX(-50%);
    animation: scroll_down_icon_mouse_move 2s linear infinite;
}
@keyframes scroll_down_icon_mouse_move {
    0% {
        transform: translate(-50%, 5px);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, 15px);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, 30px);
        opacity: 0;
    }
}
@keyframes scroll_down_icon_move {
    0% {
        bottom: 10px;
        opacity: 1;
    }
    50% {
        bottom: 0;
        opacity: 0.2;
    }
    100% {
        bottom: 10px;
        opacity: 1;
    }
}
