@charset "UTF-8";

/* all */
::-webkit-scrollbar-track {
    background: #eee;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #f2f2f2;
}
::-webkit-scrollbar-thumb {
    background: #fdd000;
}
::-moz-selection {
    background: #fdd000;
    color: #1c1c1b;
}
::selection {
    background: #fdd000;
    color: #1c1c1b;
}
.progress {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 100px;
    height: 3px;
    background: #fdd000;
    width: 0%;
    z-index: 999999;
}
html,
body {
    font-weight: 300;
    letter-spacing: normal;
    word-break: keep-all;
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: #1c1c1b;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", "Noto Sans", "sans-serif", "MalgunGothic",
        "Malgun Gothic";
}
body {
    transition: ease-in-out 400ms padding;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: unset;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
h1,
h2 {
    padding: 0;
    margin: 0;
    display: inline-block;
    font-weight: normal;
}
a,
a:link,
a:focus,
textarea,
button,
input,
select {
    outline: none;
    resize: none;
    border: 0px;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
a,
a:link,
a:focus {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
textarea,
button,
input,
select {
    font-family: "Noto Sans KR", "Noto Sans", "sans-serif", "MalgunGothic",
        "Malgun Gothic";
}
button,
input[type="button"],
input[type="submit"] {
    cursor: pointer;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    image-rendering: -webkit-optimize-contrast;
}
table,
td,
th {
    border-spacing: 0px;
    padding: 0px;
    text-align: inherit;
}
ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
p {
    margin: 30px 0;
}
p:first-child {
    margin-top: 0;
}
p:last-child {
    margin-bottom: 0;
}
b {
    font-weight: 700;
}
.float_right {
    float: right;
}
.underline {
    text-decoration: underline;
}
.fa,
.fas,
.icons {
    vertical-align: baseline;
}
.material-icons {
    vertical-align: bottom;
    font-size: 1.3em;
}
.wrap {
    width: 100%;
}
.none {
    display: none !important;
}
.block {
    display: block;
}
.hidden {
    overflow: hidden;
}
.pc {
    display: block !important;
    margin: 0 auto;
}
.m {
    display: none !important;
    margin: 0 auto;
}
.wfull {
    width: 100%;
}
.w1280 {
    width: 1280px;
    margin: 0 auto;
}
.color {
    color: #fdd000 !important;
}
.color_w {
    color: #fff;
}
.color_b {
    color: #000;
}
.bg_color {
    background: #fdd000;
    color: #1c1c1b;
    padding: 0.5% 1%;
}
.red {
    color: #ff0000 !important;
}
.left0 {
    left: 0 !important;
}
.right0 {
    right: 0 !important;
}
.text_center {
    text-align: center;
}
.text_left {
    text-align: left !important;
}
.text_right {
    text-align: right;
}
.table0 {
    display: table;
    width: 100%;
    height: 100%;
    border-spacing: 0;
}
.table10 {
    display: table;
    width: 100%;
    border-spacing: 10px;
}
.cell {
    display: table-cell;
    vertical-align: middle;
}
.cell_top {
    display: table-cell;
    vertical-align: top;
}
.cell10 {
    display: table-cell;
    width: 10%;
    vertical-align: middle;
}
.cell20 {
    display: table-cell;
    width: 20%;
    vertical-align: middle;
}
.cell25 {
    display: table-cell;
    width: 25%;
    vertical-align: middle;
}
.cell30 {
    display: table-cell;
    width: 30%;
    vertical-align: middle;
}
.cell33 {
    display: table-cell;
    width: 33%;
    vertical-align: middle;
}
.cell40 {
    display: table-cell;
    width: 40%;
    vertical-align: middle;
}
.cell50 {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}
.cell60 {
    display: table-cell;
    width: 60%;
    vertical-align: middle;
}
.cell66 {
    display: table-cell;
    width: 66%;
    vertical-align: middle;
}
.cell70 {
    display: table-cell;
    width: 70%;
    vertical-align: middle;
}
.cell75 {
    display: table-cell;
    width: 75%;
    vertical-align: middle;
}
.cell80 {
    display: table-cell;
    width: 80%;
    vertical-align: middle;
}
.cell90 {
    display: table-cell;
    width: 90%;
    vertical-align: middle;
}
.inline {
    display: inline-block;
    vertical-align: middle;
}
.inline20 {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding-right: 5px;
    float: left;
}
.inline25 {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding-right: 5px;
    float: left;
}
.inline33 {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 0 15px;
    float: left;
}
.inline33:first-child {
    padding-left: 0;
    padding-right: 30px;
}
.inline33:last-child {
    padding-right: 0;
    padding-left: 30px;
}
.inline50 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding-right: 15px;
    float: left;
}
.inline50:last-child {
    display: inline-block;
    width: 50%;
    padding-left: 15px;
    padding-right: 0px;
    float: left;
}
.inline66 {
    display: inline-block;
    vertical-align: top;
    width: 66.66%;
    padding-right: 15px;
    float: left;
}
.inline80 {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    padding-right: 5px;
    float: left;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #1c1c1b;
    opacity: 0.7;
    z-index: 9;
}
.close_wrap {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 25px;
    height: 25px;
    z-index: 5;
}
.close_wrap .close:before,
.close_wrap .close:after {
    position: absolute;
    left: 15px;
    content: "";
    height: 25px;
    width: 2px;
    background: #fff;
}
.close_wrap .close {
    opacity: 1;
}
.close_wrap .close:before {
    transform: rotate(45deg);
}
.close_wrap .close:after {
    transform: rotate(-45deg);
}
.plus_wrap {
    position: absolute;
    right: 5px;
    top: 50%;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.plus_wrap .plus:before,
.plus_wrap .plus:after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
}
.plus_wrap .plus:before {
    left: 50%;
    top: 5px;
    bottom: 5px;
    width: 1px;
    transform: translateX(-50%);
}
.plus_wrap .plus:after {
    top: 50%;
    left: 5px;
    right: 5px;
    height: 1px;
    transform: translateY(-50%);
}
.bottom_banner {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 100%;
    max-width: 65px;
    z-index: 9;
}
.bottom_banner img {
    width: 100%;
}

.robo {
    font-family: "Roboto", NanumSquareR;
    font-weight: 900 !important;
    line-height: 1 !important;
    letter-spacing: -1px !important;
}
.robo h1,
.robo h2 {
    font-weight: 900 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px none inset;
    transition: background-color 5000s ease-in-out 0s;
}
/* input all */
.input_wrap {
    height: auto !important;
}
.input_wrap3 {
    height: 55px !important;
}
.input_wrap3 .btn {
    font-size: 18px;
    padding: 0px 30px;
}
.input_wrap2 {
    height: 45px !important;
}
.input_wrap2 .btn {
    font-size: 16px;
}
.input_wrap1 {
    height: 35px !important;
}
.input_wrap1 .btn {
    font-size: 14px;
    padding: 0px 15px;
}
.input_wrap1.input_text_wrap label input {
    padding: 0px 10px !important;
}
.input_wrap1.input_text_wrap label span {
    font-size: 13px;
    -webkit-transform: scale(0.8) translateY(-20px);
    transform: scale(0.8) translateY(-20px);
}

.input_width {
    display: inline-block;
    vertical-align: middle;
}
.input_width1 {
    width: 100px;
}
.input_width1 .btn {
    padding: 0px 15px;
}
.input_width2 {
    width: 200px;
}
.input_width3 {
    width: 300px;
}
.input_width4 {
    width: 400px;
}
.input_width5 {
    width: 500px;
}

.input_row {
    margin-bottom: 15px;
}
.input_row:last-child {
    margin-bottom: 0px;
}

.input_readonly {
    background: #f4f6f8 !important;
}

.input_text_info {
    margin-top: 5px;
}

/* input */
.input_text_wrap {
    position: relative;
    width: 100%;
    display: inline-block;
    font-size: 16px;
}
.input_text_wrap label input {
    width: 100%;
    height: 100%;
    padding: 5px 15px !important;
    color: #1c1c1b;
    box-shadow: 0px 0px 0px 1px #ddd;
    outline: none;
    border-radius: 4px;
    background: #fff;
    transition: all 0.15s;
}
.input_text_wrap label input:focus {
    box-shadow: 0px 0px 0px 2px #1a75bc;
}
.input_text_wrap label input:invalid:not(:focus) + * {
    cursor: text;
    border: 0px;
    top: 47%;
    -webkit-transform: scale(1) translate(0, -50%);
    transform: scale(1) translate(0, -50%);
    transform-origin: left bottom;
}
.input_text_wrap label input:focus + span {
    color: #1a75bc;
}
.input_text_wrap label span {
    color: #999;
    position: absolute;
    top: 15%;
    left: 10px;
    padding: 0px 5px;
    background: #fff;
    transition: all 0.15s;
    -webkit-transform: scale(0.8) translateY(-25px);
    transform: scale(0.8) translateY(-25px);
    transform-origin: left bottom;
}

.input_textarea_wrap {
    position: relative;
    width: 100%;
    display: inline-block;
    font-size: 16px;
}
.input_textarea_wrap label textarea {
    width: 100%;
    height: 150px;
    padding: 10px 15px !important;
    box-shadow: 0px 0px 0px 1px #ddd;
    color: #1c1c1b;
    outline: none;
    border-radius: 4px;
    background: #fff;
    transition: all 0.15s;
}
.input_textarea_wrap label textarea::placeholder {
    color: #999;
    font-weight: 300;
}
.input_textarea_wrap label textarea:focus {
    box-shadow: 0px 0px 0px 2px #1a75bc;
}
.input_textarea_wrap label textarea:invalid:not(:focus) + * {
    cursor: text;
    border: 0px;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    transform-origin: left bottom;
}
.input_textarea_wrap label textarea:focus + span {
    color: #1a75bc;
}
.input_textarea_wrap label span {
    color: #999;
    position: absolute;
    top: 15%;
    left: 10px;
    padding: 0px 5px;
    background: #fff;
    transition: all 0.15s;
    -webkit-transform: scale(0.85) translateY(-25px);
    transform: scale(0.85) translateY(-25px);
    transform-origin: left bottom;
}

/* select */
.select_wrap {
    text-align: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.select_wrap .input_wrap {
    display: inline-block;
    width: calc(1 / 3 * 100% - (1 - 1 / 3) * 10px);
    margin-right: 10px;
}
.select_wrap2 .input_wrap {
    width: calc(1 / 2 * 100% - (1 - 1 / 2) * 10px);
    margin-right: 10px;
}
.select_wrap3 .input_wrap {
    width: calc(1 / 4 * 100% - (1 - 1 / 4) * 10px);
    margin-right: 10px;
}
.select_wrap .input_wrap:last-child {
    margin-right: 0;
}
.select_wrap .input_select_wrap {
    position: relative;
}
.input_select_wrap select {
    width: 100%;
    padding: 10px 15px;
    background: #fff;
    color: #1c1c1b;
    box-shadow: 0px 0px 0px 1px #ddd;
    border-radius: 4px;
}
.input_select_wrap select:-ms-expand {
    display: none;
}
.input_select_wrap select:focus {
    box-shadow: 0px 0px 0px 2px #2471c8;
    outline: none;
}
.input_select_wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input_select_wrap:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 35%;
    width: 5px;
    height: 5px;
    border: solid #ccc;
    border-width: 0 0 2px 2px;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.input_select_wrap {
    position: relative;
    width: 100%;
    display: inline-block;
    font-size: 16px;
}
.input_select_wrap select {
    width: 100%;
    height: 100%;
    padding: 5px 15px !important;
    padding-right: 20px;
    color: #1c1c1b;
    box-shadow: 0px 0px 0px 1px #ddd;
    outline: none;
    border-radius: 4px;
    background: #fff;
    transition: all 0.15s;
}
.input_select_wrap select:-ms-expand {
    display: none;
}
.input_select_wrap select:focus {
    box-shadow: 0px 0px 0px 2px #2471c8;
    outline: none;
}
.input_select_wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input_select_wrap:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 35%;
    width: 5px;
    height: 5px;
    border: solid #ccc;
    border-width: 0 0 2px 2px;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* input_email */
.email_input label input {
    padding-left: 30px !important;
}
.email_input:before {
    content: "@";
    z-index: 1;
    position: absolute;
    top: 48%;
    left: 10px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
/* check_box */
.checkbox_wrap {
    display: inline-block;
    margin-right: 10px;
}
.checkbox_wrap.checkbox_wrap_bottom {
    margin-bottom: 10px;
}
.checkbox_wrap:last-child {
    margin-right: 0;
}
.checkbox {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
    opacity: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    width: 1.4em;
    border: 1px solid #fff;
}
.checkbox_text {
    display: inline-block;
    padding-left: 5px;
}

.check_mark {
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 1.4em;
    height: 1.4em;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.check_mark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox_wrap input:checked ~ .check_mark:after {
    display: block;
}
.checkbox_wrap .check_mark:after {
    left: 50%;
    top: 40%;
    width: 30%;
    height: 60%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}
.checkbox_wrap input:checked ~ .check_mark {
    background: #fdd000;
    border: 2px solid #fdd000;
}

.radio_wrap .check_mark {
    border-radius: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 0;
    width: 1.4em;
    height: 1.4em;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.radio_wrap .check_mark:after {
    content: "";
    position: absolute;
    display: none;
}
.radio_wrap input:checked ~ .check_mark:after {
    display: block;
}
.radio_wrap .check_mark:after {
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    background: #fff;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.radio_wrap input:checked ~ .check_mark {
    background: #fdd000;
    border: 2px solid #fdd000;
}
