/* foot */
.foot_awards_wrap {
    padding: 30px;
    background: #f4f6f8;
}
.swiper_foot .swiper-slide {
    opacity: 1;
    width: auto;
}
.swiper_foot img {
    width: 100%;
}
.swiper_foot .cell:first-child {
    width: 80px;
    padding-right: 10px;
}

.foot_menu_wrap {
    background: #fdd000;
    color: #1c1c1b;
    padding: 20px;
}
.foot_menu_wrap .foot_menu {
    max-width: 1280px;
    margin: 0 auto;
}
.foot_menu_wrap .foot_menu ul li {
    margin-top: 0;
}
.foot_menu_wrap .foot_menu ul li a:hover {
    text-decoration: underline;
}

.foot_wrap {
    background: #212121;
    color: #aaa;
    padding: 60px 20px;
    font-size: 0.9em;
}
.foot_wrap .foot {
    max-width: 1280px;
    margin: 0 auto;
}
.foot_logo img {
    max-width: 180px;
}
.foot_sns ul li {
    background: #fff;
    border-radius: 100%;
}
.foot_sns ul li a {
    display: block;
    padding: 3px;
    position: relative;
}
.foot_sns ul li:hover {
    background: #fdd000;
}
.foot_sns ul li a span {
    background: #fff;
    color: #000;
    border-radius: 100px;
    padding: 2px 6px;
    font-size: 11px;
    top: 90%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.foot_wrap .cont_list_m1 ul li {
    margin-top: 0;
}
.foot_wrap .foot .foot_info ul li:first-child {
    color: #fff;
}
.foot_wrap .foot .cont_text_title {
    color: #fff;
    font-size: 1.2em;
}
.foot_wrap .foot .cont_list5 {
    font-size: 0.9em;
}
.foot_wrap .foot .cont_list_small1 > ul > li > a {
    color: rgba(255, 255, 255, 0.6);
}
.foot_wrap .foot .cont_list_small1 > ul > li > a:hover {
    color: #fff;
    text-decoration: underline;
}

.foot_wrap .cont_list_m1 .foot_sns ul li {
    width: 39px;
}
.foot_wrap .cont_list_m1 .foot_sns .cont_list3 > ul > li:nth-child(3n) {
    margin-right: 10px;
}
.foot_wrap .cont_list_m1 .foot_sns .cont_list3 > ul > li:last-child {
    margin-right: 0;
}
