/* flex_slider */
.flex_slider_wrap {
    overflow: hidden;
    position: relative;
    zoom: 1;
}
.flex_slider_wrap .slides {
    height: 650px;
}
.flex_slider_wrap .slides li {
    height: 100%;
    position: relative;
    overflow: hidden;
}
.flex_slider_img_wrap {
}
.flex_slider_img_wrap .flex_slider_img {
}
.flex_slider_img_wrap .flex_slider_img img {
    width: 75%;
    margin: 0 auto;
}
.flex_slider_object_wrap {
    height: 650px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    position: relative;
}
.flex_slider_object_wrap .flex_slider_object {
}
.flex_slider_object_wrap .flex_slider_object img {
    max-width: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.flex_slider_video {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.flex_slider_video_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.flex_slider_video .youtube {
    width: 400%;
    left: -150%;
    min-height: 100vh;
}

.flex_slider_wrap ol {
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 10px;
}
.flex_slider_wrap .slides,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex_slider_wrap .flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 85px;
    height: 85px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.flex_slider_wrap .flex-direction-nav a:after {
    display: block;
    position: absolute;
}
.flex_slider_wrap .flex-direction-nav a.flex-prev:after {
    left: 50%;
    height: 100%;
    width: 100%;
    margin: 0;
    border: solid #aaa;
    border-width: 0 0 2px 2px;
    content: "";
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}
.flex_slider_wrap .flex-direction-nav a.flex-next:after {
    left: 50%;
    height: 100%;
    width: 100%;
    margin: 0;
    border: solid #aaa;
    border-width: 0 0 2px 2px;
    content: "";
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-135deg);
    -ms-transform: translate(-50%, -50%) rotate(-135deg);
    transform: translate(-50%, -50%) rotate(-135deg);
}
.flex_slider_wrap .flex-direction-nav .flex-prev {
    left: 0;
}
.flex_slider_wrap:hover .flex-direction-nav .flex-prev {
    opacity: 0.7;
    left: 5%;
}
.flex_slider_wrap:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1;
}

.flex_slider_wrap .flex-direction-nav .flex-next {
    right: 0;
}
.flex_slider_wrap:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: 5%;
}
.flex_slider_wrap:hover .flex-direction-nav .flex-next:hover {
    opacity: 1;
}

.flex_slider_wrap .flex-control-nav {
    text-align: center;
}
.flex_slider_wrap .flex-control-nav li {
    margin-right: 5px;
    display: inline-block;
    zoom: 1;
}
.flex_slider_wrap .flex-control-nav li:last-child {
    margin-right: 0;
}
.flex_slider_wrap .flex-control-paging li a {
    transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    width: 25px;
    height: 5px;
    display: block;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.flex_slider_wrap .flex-control-paging li a.flex-active {
    background: #fff;
    cursor: default;
    width: 50px;
}

.flex_slider_cont {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    z-index: 11;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0px 10%;
}
.flex_slider_title_wrap {
    font-size: 18px;
    width: 100%;
    margin-bottom: 20px;
}
.flex_slider_title {
    font-size: 3em;
}
.flex_slider_title b {
    font-weight: 500;
}
.flex_slider_title_info {
    font-size: 1.4em;
    margin-top: 15px;
}
.flex_slider_text {
    font-size: 18px;
}

.flex-control-thumbs {
    padding: 15px;
    margin: 0;
    background: #212126;
    text-align: left;
}
.flex-control-thumbs li {
    display: inline-block;
    width: calc(1 / 7 * 100% - (1 - 1 / 7) * 10px);
    margin-right: 10px;
    margin-top: 10px;
}
.flex-control-thumbs li:nth-child(7n) {
    margin-right: 0;
}
.flex-control-thumbs li:nth-child(-n + 7) {
    margin-top: 0;
}
.flex-control-thumbs li img {
    opacity: 0.5;
    cursor: pointer;
}
.flex-control-thumbs .flex-active {
    opacity: 1;
    box-shadow: 0px 0px 0px 5px #fdd000;
}
.detail_flex_slider_img_wrap {
    position: relative;
}
.detail_flex_slider_text {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

/* swiper */
.swiper_wrap {
}
.swiper {
    height: 100%;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.swiper-container {
    width: 100%;
    height: 100%;
    overflow: visible !important;
}
.swiper-slide {
    opacity: 0.25;
    margin-right: 15px;
}
.swiper-slide-visible {
    opacity: 1;
}

.swiper_overflow_left > ul > li:first-child {
    position: relative;
    z-index: 3;
}
.swiper_overflow_right > ul > li:last-child {
    position: relative;
    z-index: 3;
}
.swiper_overflow_container {
    overflow: visible;
    position: relative;
}
.swiper_overflow_container:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: -300%;
    z-index: 2;
    -webkit-transform: scale(5);
    -ms-transform: scale(5);
    transform: scale(5);
}

.swiper-button-next,
.swiper-button-prev {
    margin-top: 0 !important;
    background-image: none !important;
    height: 100%;
    width: 100%;
    margin: 0;
    border: solid #363636;
    border-width: 0 0 2px 2px;
    content: "";
    top: 50%;
    width: 40px !important;
    height: 40px !important;
}
.swiper-button-next {
    right: -60px;
    -webkit-transform: translate(-50%, -50%) rotate(-135deg);
    -ms-transform: translate(-50%, -50%) rotate(-135deg);
    transform: translate(-50%, -50%) rotate(-135deg);
}
.swiper-button-prev {
    left: -30px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    display: none;
}

.swiper-pagination-bullet {
    width: 20px !important;
    height: 8px !important;
    background: #fff !important;
    border-radius: 100px !important;
    opacity: 0.3 !important;
}
.swiper-pagination-bullet-active {
    width: 48px !important;
    border-radius: 5px !important;
    opacity: 1 !important;
}
